<router-outlet></router-outlet>

<h1>{{ title }}</h1>

<h2>Input Values</h2>
Length: <input [(ngModel)]="hlen" /> <br />
Height: <input [(ngModel)]="vlen" /> <br />

Total Distance: {{ distance | number }} <br />

Weight <small>(Rider & Bike)</small>: <input [(ngModel)]="weight" /> <br />

Position:
<div *ngFor="let pos of positions">
  <button (click)="position = pos">{{ pos.name }}</button>
</div>

<br />
C: {{ position.c }} A: {{ position.a }}

<br />

Wind Speed: <input [(ngModel)]="speedWind" /> <br />
Wind Angle: <input [(ngModel)]="angleWind" /> <br />
<small> Angle is measured in degrees; 0 is frontal, 180 is from back. </small>
Speed {{ vW() }}

<h2>Calculations</h2>
Time: <input [(ngModel)]="t" /> <br />
Time (minutes): <input [(ngModel)]="tM" /> <input [(ngModel)]="tS" /><br />

Power Horizontal: {{ Ph(t) | number }} W <br />
Power Vertical: {{ Pv(t) | number }} W<br />

Power Total: {{ P(t) | number }} <br />

Factor: <input [(ngModel)]="factor" /> <br />
Power Total (): {{ P(t) * factor | number }} W<br />
